/* styles/filter.css */

.filter-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f0f0;
  padding: 10px 20px;
}

.filter-container label {
  margin-right: 10px;
}

select {
  padding: 8px;
  border-radius: 5px;
}
